# backup files
*.7z
*.zip
*.rar
*.tar
*.gzs

#old files
old*

# log files
logs

#debug files
*.hex
*.cpuprofile

# private files
config/*.json
client_cache

# vscode files
.vscode

# temp files(will refactor)
*temp*
*tmp*
*test*

# node packages
node_modules
