# backup files
*.7z
*.zip
*.rar
*.tar
*.gzs

#old files
old*

# log files
logs

# private files
config/*.json

# vscode files
.vscode

# temp files(will refactor)
*temp*
*tmp*
*test*

# node packages
node_modules